<div class="card">


        <div class="input-field">
            <span>
                Username
            </span>
            <input type="text" placeholder="Type your username">
        </div>
        <div class="input-field">
            <span>
                Password
            </span>
            <input type="text" placeholder="Type your password">
        </div>

        <button>Entrar</button>

    </div>