<form action="/login" method="post" class="card">
    <div class="input-field">
        <span>
            Username
        </span>
        <input type="text" name="user" placeholder="Type your username">
    </div>
    <div class="input-field">
        <span>
            Password
        </span>
        <input type="text" name="pass" placeholder="Type your password">
    </div>
    <button>Entrar</button>
    <a href="/register">Create account</a>
</form>