<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./../src/style.css">
</head>

<body>

    <div class="card">


        <div class="input-field">
            <span>
                Username *
            </span>
            <input type="text" placeholder="Type your username">
        </div>


        <div class="input-field">
            <span>
                Phone *
            </span>
            <input type="text" placeholder="Type your phone number">
        </div>
        <div class="input-field">
            <span>
                Password *
            </span>
            <input type="text" placeholder="Type your password">
        </div>
        <div class="input-field">
            <span>
                Password *
            </span>
            <input type="text" placeholder="Confirm your password">
        </div>

        <button>Entrar</button>

    </div>

</body>

</html>